<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <RollingFile
                name="locations.model"
                fileName="${sys:catalina.home}/ArtefactsModel.log"
                filePattern="${sys:catalina.home}}/ArtefactsModel.%d{dd-MMM}.log.gz"
                ignoreExceptions="false">
            <PatternLayout>
                <Pattern>Locations-model> %d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="5 MB" />
                <TimeBasedTriggeringPolicy interval="30"/>
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="locations.model"/>
        </Root>
    </Loggers>

</Configuration>
